<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moc.merchant.mapper.MerchantUserMapper" >

<!-- <typeAlias alias="MerchantUser" type="com.moc.merchant.entity.PO.MerchantUser" /> -->
   <!--  <resultMap id="BaseResultMap" type="com.moc.product.entity.ProductCategoryEntity" >
     主键用ID标签
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="sort_no" property="sortNo" jdbcType="INTEGER" />
        <result column="user_sex" property="userSex" javaType="com.neo.enums.UserSexEnum"/>
        <result column="res_id" property="resId" jdbcType="INTEGER" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
    </resultMap> -->
    
    <sql id="Base_Column_List" >
    	phone, userName, password,sex
    </sql>
    
    <select id="getByEntity" parameterType="com.moc.merchant.entity.PO.MerchantUser" 
    		resultType="com.moc.merchant.entity.PO.MerchantUser">
		select 	<include refid="Base_Column_List"/>	
		from m_user_info a		
			
		<where>
		 a.status = 1
		 	<if test="entity.phone != null and entity.phone != ''">
				and a.phone = #{entity.phone} 
			</if>
			<if test="entity.userName != null and entity.userName != ''">
				and a.userName = #{entity.userName}
			</if>
			<if test="entity.password != null and entity.password != ''">
				and a.password = #{entity.password}
			</if>
			<if test="entity.sex != null and entity.sex != ''">
				and a.sex = #{entity.sex}
			</if>
		</where>
		limit 1
	</select>
    
    
    
    
    
<!-- 
	<select id="listByEntity" resultType="AreaForeign">
		select a.* from fc_area_foreign a
		<where>
			a.cityCode is not null
			<if test="entity.provinceCode != null">
				and a.provinceCode = #{entity.provinceCode}
			</if>		
		</where>
		order by a.provinceCode desc, a.cityCode desc
		<if test="page != null">
			limit ${page.start}, ${page.length}
		</if>
	</select>
	
	<select id="countByEntity" resultType="Integer">
		select count(1) from fc_area_foreign a
		<where>
			a.cityCode is not null
			<if test="entity.provinceCode != null">
				and a.provinceCode = #{entity.provinceCode}
			</if>		
		</where>
	</select> -->

      <insert id="save" parameterType="com.moc.merchant.entity.PO.MerchantUser"  useGeneratedKeys="true" keyProperty="entity.id" >
       INSERT INTO m_user_info(
       		 <include refid="Base_Column_List"/>
        )
       	VALUES
       	(
       		#{entity.phone}, 
       		#{entity.userName},
       		#{entity.password},
       		#{entity.sex}
       	)
    </insert> 
    <!-- 
    <update id="update" parameterType="com.neo.entity.UserEntity" >
       UPDATE 
       		users 
       SET 
       	<if test="userName != null">userName = #{userName},</if>
       	<if test="passWord != null">passWord = #{passWord},</if>
       	nick_name = #{nickName}
       WHERE 
       		id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.Long" >
       DELETE FROM
       		 users 
       WHERE 
       		 id =#{id}
    </delete> -->

</mapper>